/*main esculpidas*/

.mainEsculpidas {
  @extend %mainPaginas;

  }
  
  .titEsculpidas {
   @extend %titulosMain;
  }
  
  .divEsculpidas {
    @extend %fotoPaginas;
  }
  
  .textoEsculpidas {
    @extend %textoPaginas;
  }
  
  .subEsculpidas {
    @extend %subtitulosPaginas;
  }


  /*main esmaltadas*/

  .mainEsmaltadas {
    @extend %mainPaginas;
  }
  
  .titEsmaltadas {
    @extend %titulosMain;

  }
  
  .divEsmaltadas {
    @extend %fotoPaginas;
  }
  
  .textoEsmaltadas {
    @extend %textoPaginas;
  }
  
  .subEsmaltadas {
    @extend %subtitulosPaginas;
  }


  /* main kapping */

  .mainKapping {
    @extend %mainPaginas;

}

.titKapping {
  @extend %titulosMain;

}

.divKapping {
  @extend %fotoPaginas;
}

.textoKapping {
  @extend %textoPaginas;
}

.subKapping {
  @extend %subtitulosPaginas;
}


/*main manicura rusa*/

.mainManicura {
  @extend %mainPaginas;

  }
  
  .titManicura {
    @extend %titulosMain;

  }
  
  .divManicura {
    @extend %fotoPaginas;
  }
  
  .textoManicura {
    @extend %textoPaginas;
  }
  
  .subManicura {
    @extend %subtitulosPaginas;
  }


  /* main cursos*/

  .mainCursos {
    @extend %mainPaginas;

  }
  
  .titCursos {
    @extend %titulosMain;

  }
  
  .divCursos {
    @extend %fotoPaginas;
  }
  
  .subCursos {
   @extend %subtitulosPaginas;
  }
  
  .textoCursos {
    @extend %textoPaginas;
  }
  
  .titAnotate {
    display: flex;
    padding-bottom: 3rem;
    font-size: 4rem;
  }

  