@mixin imagenesPrincipal($colorBorde){
    width: 19rem;
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    border-radius: 27px;
    background-color: $fondoBlanco;
    box-shadow: 0px 1px 10px rgb(233, 7, 101);
    border: 1px solid $colorBorde;
    transition: all 400ms ease;
}
